body{
    margin: 0;
    padding: 0;
}
#content{
    position: absolute;
    width: 100vw;
    height: 100vh;
    justify-items: center;
    align-content: center;
    background-color: chocolate;
}
#content-imagen{
    display: flex;
    flex-wrap: wrap;
}
.imagenes{
    background-color: black;
    color: white;
    margin: 2%;
}
img{
    margin: 5%;
    width: 90%;
    height: 75%;
}
.content-botones button{
    width: 100%;
    height: 5vh;
    font-size: 18px;
    background-color: black;
    color: white;
}