*{
    margin: 0;
    padding: 0;
}
.menu{
    padding: 1vw;
    width: 80vw;
    height: 10vh;
    display: inline-block;
    background-color: rgb(237, 250, 50);
    border-right: 1px solid black;
}
h1{
    margin-bottom: 2vh;
}
a{
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    padding-left: 3vw;
    padding-right: 3vw;


    border: 1px solid black;
    background-color: black;
    color: white;
    text-decoration: none;
}
a:hover{
    background-color: rgb(49, 49, 49);
}