*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(154, 211, 192);
}
#content{
    width: 100vw;
    height: 100vh;
    display: flex;
    gap: 50px;
}
form{
    border: 1px solid black;
    border-radius: 30px;
    width: 100%;
    height: 50%;

    /**/
    background-color: rgb(155, 148, 148);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.658);
}
h1{
    text-align: center;
    margin: 5%;

    /**/
    color: white;
    text-shadow: 2px 2px 2px black;
}
#analizador{
    margin-top: 25%;
    width: 100%;
    height: 5vh;
    align-items: center;
    justify-content: center;
    float: left;

    /**/
    background-color: black;
    color: white;
}
.content-analizador{
    border: 1px solid black;
    border-radius: 25px;
    width: 50%;
    height: 75%;
    float: left;

    /**/
    background-color: rgb(97, 88, 90);
    box-shadow: 5px 5px 5px black;
}
#resultado{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
    width: 80%;
    height: 80%;
    border-radius: 25px;
    border: 4px solid black;

    /**/
    background-color: rgb(209, 202, 202);
}

#analizador:hover{
    box-shadow: 2px 2px 2px rgb(231, 7, 112);
    background-color: rgb(46, 44, 44);
    font-weight: bold;
}
#analizador:active{
    color:rgb(19, 207, 207);
}
fieldset{
    border: none;
}

/*ESTILOS AGRUPADOS*/

form label, form input,button,form h1,textarea,select{
    display: flex;
    margin: 0.3vw;
    width: 90%;
    margin-left: 5%;
}
.content-analizador,.content-formulario{
    margin: 2%;
}
button{
    margin-top: 50px;
    background-color: yellow;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 3vh;
}
p{
    background-color: black;
    color: white;
}